@import '../variables/variables';
@import '../variables/mixins';

.about {
    background-color: $secondary-background-color;
    @include space;


    .about__wrapper {
        @include wrapper;
        max-width: 1000px;
        display: flex;
        align-items: center;
        gap: 50px;
        padding-top: 100px;
        padding-bottom: 100px;

        @media screen and (max-width: $breakpoint-medium) {
            flex-direction: column;
        }
    
        .about__wrapper__description {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            gap: 30px;
         
            h2 {
                font-family: $sub-title-font;
                color: $primary-color;
            }

            p {
                font-family: $paragraph-font;
                color: $primary-paragraph-font-color;
                line-height: 1.5;
            }
        }

        .about__wrapper__card__container{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .about__wrapper__card {
                background-color: white;
                border-radius: 5px;
                padding: 20px;
                max-width: 600px;
                display: flex;
                gap: 20px;
                align-items: center;
                @include shadow;

                h3 {
                    font-family:  $sub-title-font;
                    color: $primary-color;
                }

                p {
                    font-family: $paragraph-font;
                    color: $primary-paragraph-font-color;
                    margin-top: 10px;
                }

                .about__wrapper__card__icon {
                    color: $primary-color;
                    font-size: 3rem;
                
                    
                }
            }
        }
        
        
        
    } 
}