@import '../variables/variables';
@import '../variables/mixins';

.about {

 


    .about__wrapper {
        @include wrapper;
        gap: 50px;
        padding-top: 100px;
        padding-bottom: 100px;

        @media screen and (max-width: $breakpoint-medium) {
            flex-direction: column;
        }
    
        .about__wrapper__description {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            gap: 30px;
         
            h1 {
                font-family: $sub-title-font;
                color: $primary-color;
                margin-bottom: 50px;
            }

        }

        .about__wrapper__card__container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px;

            .about__wrapper__card {
                
                border-radius: 5px;
                
                display: flex;
                flex-direction: column;
                
                gap: 30px;
                max-width: 500px;
                padding: 20px;

                @media screen and (max-width: $breakpoint-medium) {
        
                    padding: 0;
                    
                }
               

                h2 {
                    font-family:  $sub-title-font;
                    color: $primary-color;
                    margin-bottom: 30px;
                }

                p {
                    font-family: $paragraph-font;
                    color: $primary-paragraph-font-color;
                    margin-top: 10px;
                    font-size: 1.6rem;
                }

                .about__wrapper__card__icon {
                    color: $primary-color;
                    font-size: 3rem;
                    background-color: $secondary-background-color;
                    padding: 20px;
                    height: 40px;
                    width: 40px;
                    border-radius: 999px;
                
                    
                }
            }
        }
        
        
        
    } 
}