@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
.addVehicle .addVehicle__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
@media screen and (max-width: 820px) {
  .addVehicle .addVehicle__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.addVehicle .addVehicle__wrapper h1 {
  color: #080077;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__description {
  max-width: 400px;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__description .addVehicle__wrapper__form__important {
  font-size: 1.2rem;
  color: #636363;
  margin-top: 20px;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form {
  border-radius: 5px;
  background-color: #F3F3F3;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-width: 500px;
  min-width: 300px;
}
@media screen and (max-width: 820px) {
  .addVehicle .addVehicle__wrapper .addVehicle__wrapper__form {
    width: 100%;
  }
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form {
  display: flex;
  flex-direction: column;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label {
  margin-bottom: 20px;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label p {
  font-size: 1.3rem;
  color: #636363;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label input {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #B6B6B6;
  font-family: "Rubik", sans-serif;
  color: #36454F;
  width: 100%;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label input:focus {
  border: 2px solid #080077;
  outline: none;
  transition: 0.5s;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label input:required:valid {
  border: 2px solid green;
  background-color: rgb(246, 255, 246);
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label input.valid {
  border: 2px solid green;
  background-color: rgb(246, 255, 246);
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label input.invalid {
  border: 2px solid red;
  background-color: rgb(255, 235, 235);
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label select {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #B6B6B6;
  font-family: "Rubik", sans-serif;
  color: #36454F;
  width: 100%;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label select:focus {
  border: 2px solid #080077;
  outline: none;
  transition: 0.5s;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label select:required:valid {
  border: 2px solid green;
  background-color: rgb(246, 255, 246);
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label select.valid {
  border: 2px solid green;
  background-color: rgb(246, 255, 246);
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label select.invalid {
  border: 2px solid red;
  background-color: rgb(255, 235, 235);
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label select option:hover {
  color: "Rubik", sans-serif;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label textarea {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #B6B6B6;
  font-family: "Rubik", sans-serif;
  color: #36454F;
  width: 100%;
  resize: none;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label textarea:focus {
  border: 2px solid #080077;
  outline: none;
  transition: 0.5s;
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label textarea:required:valid {
  border: 2px solid green;
  background-color: rgb(246, 255, 246);
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label textarea.valid {
  border: 2px solid green;
  background-color: rgb(246, 255, 246);
}
.addVehicle .addVehicle__wrapper .addVehicle__wrapper__form form label textarea.invalid {
  border: 2px solid red;
  background-color: rgb(255, 235, 235);
}
.addVehicle .addVehicle__wrapper button {
  padding: 15px;
  border: none;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #080077;
  color: white;
}/*# sourceMappingURL=add_vehicle.css.map */