@import '../variables/variables';
@import '../variables/mixins';

.addVehicle {
    
    .addVehicle__wrapper {
        @include wrapper;
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 50px;

        @media screen and (max-width:$breakpoint-medium) {
            flex-direction: column;
            align-items: center;
        }

        
        h1 {
            color: $primary-color;
        }
        .addVehicle__wrapper__description {
            max-width: 400px;

            .addVehicle__wrapper__form__important {
                font-size: 1.2rem;
                color: $secondary-background-color-font;
                margin-top: 20px;
            }
        }
        .addVehicle__wrapper__form {
            @include container;
            width: 360px;
           

            
            form {
                @include forms;

                input {
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }

            .addVehicle__other {
                text-decoration: underline;
                color: $primary-color;
                font-size: 1.2rem;
                cursor: pointer;
            }
          
        }

        button {
            @include buttons($primary-color);
            color: white;
        }
    }
   
}