@import "../variables/_variables";
@import "../variables/_mixins";
@import "../elements/vehicleCard";
@import "../elements/dropDown";

.cardGrid {
  .cardGrid__wrapper {
    @include wrapper;
    display: grid;
    gap: 20px;
    grid-template-columns: 300px auto;
    margin-top: 50px;
    gap: 40px;

    @media screen and (max-width: 1140px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      padding: 10px;
      justify-content: left;
    }
    @media screen and (max-width: $breakpoint-small) {
      padding: 10px;
    }

    .cardGrid__description {
    
        // background-color: white;
        padding: 20px;
        border-radius: 5px;
      @media screen and (max-width: 1000px) {
        padding: 20px;
      }

      h1 {
        color: $title-color;
        margin-top: 0;
        margin-bottom: 20px;
      }

      h2 {
        color: $primary-paragraph-font-color;
        margin-right: 30px;
      }
      
    }

    .cardGrid_table {
        background-color: white;
        padding: 30px; 
        border-radius: 5px;
    }
    .cardGrid__filters {
        display: flex;
        background-color: white;
        
        width: 100%;
           
      

        .custom-dropdown {
          border: 1px solid $border-color;
        }

        @media screen and (max-width: 787px) {
          max-width: 100%;
          flex-direction: column;
          align-items: start;
          padding: 10px;
        }

        label {
          padding: 10px 10px 10px 0px;
          margin-bottom: 10px;
          width: 100%;
          select {
            margin-top: 10px;
            border: none;
            width: 100%;
          }
        }
        
      }
    .filter_available {

        font-family: $paragraph-font;
        
        display: flex;
        margin: 10px 0px;
        cursor: pointer;
        gap: 10px;

        @media screen and (max-width: 787px) {
           
            padding: 10px;
        }
    }
    table {
      font-family: $title-font;
      height: fit-content;
      border-collapse: collapse;
      padding: 10px;
      width: 100%;

      @media screen and (max-width: 780px) {
        width: 100%;
      }
      thead {
        background-color: $secondary-background-color;
        color: $primary-paragraph-font-color;
        font-weight: 500;

        @media screen and (max-width: 787px) {
          display: none;
        }
        td {
          border: none;
        }
      }
      tbody {
        tr {
            background-color: white;
            border-bottom: 1px solid $border-color;
            
        }
        @media screen and (max-width:787px) {
            tr {
                
                background-color: $secondary-background-color;
                
            }
        }
        .table_status {
            font-size: 1.3rem;
        }

        .dealer_info {
            background-color: white;
            position: absolute;
            padding: 10px;
            z-index: 99999;
            top: 40px;
            border-radius: 5px;
            border: 1px solid $border-color;
            

            @media screen and (max-width: 670px) {
              position: relative;
              top: 0px;
              z-index: 0;
              grid-column: 1/5;
              grid-row: 5/6;
            }
            strong {
              color: $primary-paragraph-font-color;
            }

            div {
              padding: 3px 0px 10px 0px;
            }
          }
      }

      tr {
      
        padding: 20px 20px;
        font-size: 1.3rem;
        position: relative;
        

        .table_description {
          max-width: 300px;
        }
        .car_available {
            background-color: $primary-color;
            padding: 5px;
            color: white;
            text-align: center;
            border-radius: 5px;
            font-weight: bold;
        }
        .car_tag {
            background-color: #E9FFE4;
            color: #005822;
            border-radius: 5px;
            padding: 5px;
            font-weight: bold;
            font-family: $paragraph-font;
            text-align: center;
        }

        @media screen and (max-width: 787px) {
          display: grid;

          grid-template-columns: min-content max-content max-content 1fr;
          align-items: baseline;
          margin: 10px 0px;
          border-radius: 5px;
          gap: 7px;

          .table_year {
            font-size: 2rem;
            grid-column: 1/2;
            grid-row: 1/2;
            font-weight: bold;
          }
          .table_make {
            font-size: 2rem;
            grid-column: 2/3;
            grid-row: 1/2;
            font-weight: bold;
          }
          .table_model {
            font-size: 2rem;
            grid-column: 3/4;
            grid-row: 1/2;
            font-weight: bold;
          }
          .table_location {
            font-size: 1.5rem;
            grid-column: 4/5;
            text-align: end;
          }
          .table_description {
            font-size: 1.5rem;
            grid-column: 1/5;
            grid-row: 2/3;
            padding: 10px 0px;
            max-width: 100%;
          }
          .table_status {
            grid-column: 2/3;
            grid-row: 4/5 ;
            width: fit-content;
            
          }
          .table_actions {
            grid-column: 1/2;
            grid-row: 4/5;
          }
        }
        td {
          padding: 10px 20px;
          color: $primary-paragraph-font-color;
          @media screen and (max-width: 787px) {
            padding: 0px;
          }
        }

        .table_actions {
          display: flex;
          flex-direction: column;
          gap: 10px;
          position: relative;

          
          #table_actions_save {
            background-color: rgb(250, 255, 250);
            border: 1px solid green;
            color: green;
          }
        }
      }

      button {
        @include buttons($primary-color);
        font-size: 1.2rem;
        background-color: white;
        color: $primary-color;
        border: 1px solid $primary-color;
        padding: 5px;
        margin: 0;
        height: fit-content;
        width: fit-content;
      }

    }
  }
}
