@import '../variables/_variables';
@import '../variables/_mixins';
@import '../elements/vehicleCard';

.cardGrid {
   
    .cardGrid__wrapper {
        @include wrapper;
        display: grid;
        gap: 60px;
        grid-template-columns: auto auto;
        margin-top: 50px;

        @media screen and (max-width:1000px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            padding: 0;
            justify-content: left;
        }

        .cardGrid__description {
            position: sticky;
            top:70px;

            @media screen and (max-width:1000px) {
                padding: 20px;
            }

            h1 {
                color: $title-color;
                margin-top: 0;
                margin-bottom: 20px;
            }

            .cardGrid__filters {
                border: 1px solid $border-color;
             
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                label {
                    padding: 10px;
                    margin-bottom: 10px;
                    select {
                        margin-top: 10px;
                        border: none;
                        width: 100%;
                    }
                }
            }
        }

        table {
            font-family: $title-font;
            height: fit-content;
            border-collapse: collapse;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          
           
    
            thead {
                background-color: $primary-color;
                color: white;
                font-weight: 500;
               
                @media screen and (max-width:670px) {
                    display: none;
                }
                td {
                    border: none;
                  
                }
             
            }
            
            tr {
                border: 1px solid $border-color;
                padding: 20px 20px;
                font-size: 1.3rem;
                &:nth-child(even) {
                    background-color: $secondary-background-color;
                }
    
                @media screen and (max-width:670px) {
                    display: grid;
                    
                    grid-template-columns: min-content max-content max-content 1fr;
                    align-items: baseline;
                    
                    gap: 7px;
                   

                    
                    #table_year {
                        font-size: 2rem;
                        grid-column: 1/2;
                        grid-row: 1/2;
                        font-weight: bold;
                    }
                    #table_make {
                        font-size: 2rem;
                        grid-column: 2/3;
                        grid-row: 1/2;
                        font-weight: bold;
                    }
                    #table_model {
                        font-size: 2rem;
                        grid-column: 3/4;
                        grid-row: 1/2;
                        font-weight: bold;
                    }
                    #table_location {
                        font-size: 1.5rem;
                        grid-column: 4/5;
                        text-align: end;
                    }
                    #table_description {
                        font-size: 1.5rem;
                        grid-column: 1/5;
                        grid-row: 2/3;
                        padding: 10px 0px;
                    }
                    #table_actions {
                        grid-column: 1/5;
                    }
                }
                td {
                    padding: 10px 20px;

                    @media screen and (max-width:670px) {
                        padding: 0px;
                    }

                   
                    

                   
                    
                }
                
                #table_actions {
                    display: flex;
                    gap: 10px;

                    #table_actions_save {
                        background-color: rgb(250, 255, 250);
                        border: 1px solid green;
                        color: green;
                    }

                    
                }

            }

           
            button {
                @include buttons($primary-color);
                font-size: 1.2rem;
                background-color: white;
                color:$primary-color;
                border: 1px solid $primary-color;
                padding: 5px;
                margin: 0;
            }
        }
    }
  
    

    
}