@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
.vehiclecard {
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #F5F4F7;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  border-bottom: 1px solid #B6B6B6;
}
.vehiclecard .vehiclecard__edit_car {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}
.vehiclecard .vehiclecard__edit_car label {
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
}
.vehiclecard .vehiclecard__edit_car label p {
  font-size: 1.3rem;
  color: #636363;
}
.vehiclecard .vehiclecard__edit_car label input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #B6B6B6;
  font-family: "Rubik", sans-serif;
  color: #36454F;
  width: 100%;
}
.vehiclecard .vehiclecard__edit_car label input:focus {
  border: 1px solid #080077;
  outline: none;
  transition: 0.5s;
}
.vehiclecard .vehiclecard__edit_car label input:required:valid {
  border: 1px solid green;
  background-color: rgb(246, 255, 246);
}
.vehiclecard .vehiclecard__edit_car label input.valid {
  border: 1px solid green;
  background-color: rgb(246, 255, 246);
}
.vehiclecard .vehiclecard__edit_car label input.invalid {
  border: 1px solid red;
  background-color: rgb(255, 235, 235);
}
.vehiclecard .vehiclecard__edit_car label select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #B6B6B6;
  font-family: "Rubik", sans-serif;
  color: #36454F;
  width: 100%;
}
.vehiclecard .vehiclecard__edit_car label select:focus {
  border: 1px solid #080077;
  outline: none;
  transition: 0.5s;
}
.vehiclecard .vehiclecard__edit_car label select:required:valid {
  border: 1px solid green;
  background-color: rgb(246, 255, 246);
}
.vehiclecard .vehiclecard__edit_car label select.valid {
  border: 1px solid green;
  background-color: rgb(246, 255, 246);
}
.vehiclecard .vehiclecard__edit_car label select.invalid {
  border: 1px solid red;
  background-color: rgb(255, 235, 235);
}
.vehiclecard .vehiclecard__edit_car label select option:hover {
  color: "Rubik", sans-serif;
}
.vehiclecard .vehiclecard__edit_car label textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #B6B6B6;
  font-family: "Rubik", sans-serif;
  color: #36454F;
  width: 100%;
  resize: none;
}
.vehiclecard .vehiclecard__edit_car label textarea:focus {
  border: 1px solid #080077;
  outline: none;
  transition: 0.5s;
}
.vehiclecard .vehiclecard__edit_car label textarea:required:valid {
  border: 1px solid green;
  background-color: rgb(246, 255, 246);
}
.vehiclecard .vehiclecard__edit_car label textarea.valid {
  border: 1px solid green;
  background-color: rgb(246, 255, 246);
}
.vehiclecard .vehiclecard__edit_car label textarea.invalid {
  border: 1px solid red;
  background-color: rgb(255, 235, 235);
}
.vehiclecard .vehiclecard__edit_car label p {
  margin-top: 10px;
  margin-bottom: 5px;
}
.vehiclecard .vehiclecard__edit_car input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.vehiclecard .vehiclecard__edit_car input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.vehiclecard .vehiclecard__edit_car input[type=number] {
  -moz-appearance: textfield;
}
.vehiclecard .vehiclecard__edit_car .addVehicle__other {
  text-decoration: underline;
  color: #080077;
  font-size: 1.2rem;
  cursor: pointer;
}
.vehiclecard .vehiclecard__edit_car #vehiclecard__update {
  padding: 15px;
  border: none;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #080077;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px;
  font-size: 1.3rem;
}
.vehiclecard .vehiclecard__edit_car .vehiclecard__cancel {
  padding: 15px;
  border: none;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(255, 228, 228);
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.3rem;
  color: red;
  padding: 7px;
  font-weight: bold;
}
@media screen and (max-width: 505px) {
  .vehiclecard {
    width: 100%;
  }
}
.vehiclecard .vehiclecard__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.vehiclecard .vehiclecard__title h3 {
  font-family: "Rubik", sans-serif;
  color: #36454F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 235px;
  font-size: 1.6rem;
}
.vehiclecard .vehiclecard__title p {
  font-family: "Rubik", sans-serif;
  color: #36454F;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}
.vehiclecard .vehiclecard__title .vehiclecard__title__options {
  position: relative;
}
.vehiclecard .vehiclecard__title .vehiclecard__title__options .menu {
  width: 8px;
}
.vehiclecard .vehiclecard__title .vehiclecard__title__options .menu ellipse {
  fill: #36454F;
}
.vehiclecard .vehiclecard__title .vehiclecard__title__options .options {
  position: absolute;
  background-color: white;
  width: 150px;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #B6B6B6;
  z-index: 9999;
}
.vehiclecard .vehiclecard__title .vehiclecard__title__options .options ul {
  list-style: none;
  font-family: "Rubik", sans-serif;
}
.vehiclecard .vehiclecard__title .vehiclecard__title__options .options ul li:hover {
  background-color: #080077;
  color: white;
}
.vehiclecard .vehiclecard__title .vehiclecard__title__options .options ul li a {
  padding: 10px;
  display: block;
  width: 100%;
}
.vehiclecard .vehiclecard__description {
  font-family: "Rubik", sans-serif;
  padding-top: 1rem;
  color: #36454F;
  line-height: 1.5;
  font-size: 1.4rem;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  font-family: "Rubik", sans-serif;
  border: 1px solid #B6B6B6;
  border-radius: 5px;
}
.custom-dropdown .dropdown-header {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.custom-dropdown .dropdown-header .dropdown-header__arrow {
  width: 10px;
  height: 10px;
}
.custom-dropdown .dropdown-list {
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  list-style-type: none;
  background-color: #fff;
}
.custom-dropdown .dropdown-list li {
  padding: 10px;
  cursor: pointer;
  font-size: 1.3rem;
}
.custom-dropdown .dropdown-list li:hover {
  background-color: #080077;
  color: white;
}

.cardGrid .cardGrid__wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 300px auto;
  margin-top: 50px;
  gap: 40px;
}
@media screen and (max-width: 1140px) {
  .cardGrid .cardGrid__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 10px;
    justify-content: left;
  }
}
@media screen and (max-width: 505px) {
  .cardGrid .cardGrid__wrapper {
    padding: 0px;
  }
}
.cardGrid .cardGrid__wrapper .cardGrid__description {
  padding: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 1000px) {
  .cardGrid .cardGrid__wrapper .cardGrid__description {
    padding: 20px;
  }
}
.cardGrid .cardGrid__wrapper .cardGrid__description h1 {
  color: #080077;
  margin-top: 0;
  margin-bottom: 20px;
}
.cardGrid .cardGrid__wrapper .cardGrid__description h2 {
  color: #36454F;
  margin-right: 30px;
}
.cardGrid .cardGrid__wrapper .cardGrid_table {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}
.cardGrid .cardGrid__wrapper .cardGrid__filters {
  display: flex;
  background-color: white;
  width: 100%;
}
.cardGrid .cardGrid__wrapper .cardGrid__filters .custom-dropdown {
  border: 1px solid #B6B6B6;
}
@media screen and (max-width: 787px) {
  .cardGrid .cardGrid__wrapper .cardGrid__filters {
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 10px;
  }
}
.cardGrid .cardGrid__wrapper .cardGrid__filters label {
  padding: 10px 10px 10px 0px;
  margin-bottom: 10px;
  width: 100%;
}
.cardGrid .cardGrid__wrapper .cardGrid__filters label select {
  margin-top: 10px;
  border: none;
  width: 100%;
}
.cardGrid .cardGrid__wrapper .filter_available {
  font-family: "Rubik", sans-serif;
  display: flex;
  margin: 10px 0px;
  cursor: pointer;
  gap: 10px;
}
@media screen and (max-width: 787px) {
  .cardGrid .cardGrid__wrapper .filter_available {
    padding: 10px;
  }
}
.cardGrid .cardGrid__wrapper table {
  font-family: "Rubik", sans-serif;
  height: -moz-fit-content;
  height: fit-content;
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
}
@media screen and (max-width: 780px) {
  .cardGrid .cardGrid__wrapper table {
    width: 100%;
  }
}
.cardGrid .cardGrid__wrapper table thead {
  background-color: #F3F3F3;
  color: #36454F;
  font-weight: 500;
}
@media screen and (max-width: 787px) {
  .cardGrid .cardGrid__wrapper table thead {
    display: none;
  }
}
.cardGrid .cardGrid__wrapper table thead td {
  border: none;
}
.cardGrid .cardGrid__wrapper table tbody tr {
  background-color: white;
  border-bottom: 1px solid #B6B6B6;
}
@media screen and (max-width: 787px) {
  .cardGrid .cardGrid__wrapper table tbody tr {
    background-color: #F3F3F3;
  }
}
.cardGrid .cardGrid__wrapper table tbody .table_status {
  font-size: 1.3rem;
}
.cardGrid .cardGrid__wrapper table tbody .dealer_info {
  background-color: white;
  position: absolute;
  padding: 10px;
  z-index: 99999;
  top: 40px;
  border-radius: 5px;
  border: 1px solid #B6B6B6;
}
@media screen and (max-width: 670px) {
  .cardGrid .cardGrid__wrapper table tbody .dealer_info {
    position: relative;
    top: 0px;
    z-index: 0;
    grid-column: 1/5;
    grid-row: 5/6;
  }
}
.cardGrid .cardGrid__wrapper table tbody .dealer_info strong {
  color: #36454F;
}
.cardGrid .cardGrid__wrapper table tbody .dealer_info div {
  padding: 3px 0px 10px 0px;
}
.cardGrid .cardGrid__wrapper table tr {
  padding: 20px 20px;
  font-size: 1.3rem;
  position: relative;
}
.cardGrid .cardGrid__wrapper table tr .table_description {
  max-width: 300px;
}
.cardGrid .cardGrid__wrapper table tr .car_available {
  background-color: #080077;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
.cardGrid .cardGrid__wrapper table tr .car_tag {
  background-color: #E9FFE4;
  color: #005822;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
@media screen and (max-width: 787px) {
  .cardGrid .cardGrid__wrapper table tr {
    display: grid;
    grid-template-columns: min-content max-content max-content 1fr;
    align-items: baseline;
    margin: 10px 0px;
    border-radius: 5px;
    gap: 7px;
  }
  .cardGrid .cardGrid__wrapper table tr .table_year {
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 1/2;
    font-weight: bold;
  }
  .cardGrid .cardGrid__wrapper table tr .table_make {
    font-size: 2rem;
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bold;
  }
  .cardGrid .cardGrid__wrapper table tr .table_model {
    font-size: 2rem;
    grid-column: 3/4;
    grid-row: 1/2;
    font-weight: bold;
  }
  .cardGrid .cardGrid__wrapper table tr .table_location {
    font-size: 1.5rem;
    grid-column: 4/5;
    text-align: end;
  }
  .cardGrid .cardGrid__wrapper table tr .table_description {
    font-size: 1.5rem;
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 10px 0px;
    max-width: 100%;
  }
  .cardGrid .cardGrid__wrapper table tr .table_status {
    grid-column: 2/3;
    grid-row: 4/5;
    width: -moz-fit-content;
    width: fit-content;
  }
  .cardGrid .cardGrid__wrapper table tr .table_actions {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.cardGrid .cardGrid__wrapper table tr td {
  padding: 10px 20px;
  color: #36454F;
}
@media screen and (max-width: 787px) {
  .cardGrid .cardGrid__wrapper table tr td {
    padding: 0px;
  }
}
.cardGrid .cardGrid__wrapper table tr .table_actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.cardGrid .cardGrid__wrapper table tr .table_actions #table_actions_save {
  background-color: rgb(250, 255, 250);
  border: 1px solid green;
  color: green;
}
.cardGrid .cardGrid__wrapper table button {
  padding: 15px;
  border: none;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #080077;
  font-size: 1.2rem;
  background-color: white;
  color: #080077;
  border: 1px solid #080077;
  padding: 5px;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=cardGrid.css.map */