@import '../variables/_variables';
@import '../variables/_mixins';


.dashboard {
   
    .dashboard__wrapper {
        @include wrapper;
        display: grid;
        grid-template-columns: 340px 340px 340px ;
        gap:40px;
        flex-wrap: wrap;

        @media screen and (max-width: $breakpoint-medium) {
            grid-template-columns: 300px 340px;
            grid-template-rows: 1fr 1fr;
        }

        @media screen and (max-width: 720px) {
            grid-template-columns: 340px;
            grid-template-rows: 1fr 1fr 1fr;
            justify-content: center;
        }
    
        .dashboard__wrapper_col_1 {
    
            .dashboard__wrapper__profile {
                border: 1px solid $border-color;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                gap: 20px;
                min-width: 300px;
                position: relative;
                

                .menu {
                    width: 8px;
                    margin-top: 5px;
                    height: fit-content;

                    &:hover {
                        cursor: pointer;
                    }

                    ellipse {
                        fill: $primary-paragraph-font-color;
                    }
                }

                .options {
                    position: absolute;
                    background-color: white;
                    width: 150px;
                    top: 40px;
                    right: 20px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                    border: 1px solid $border-color;
                    z-index: 9999;
                    ul {
    
                        list-style: none;
                        font-family: $paragraph-font;
    
                        li {
    
                            padding: 10px;
    
                                &:hover {
                                    background-color: $primary-color;
                                    color: white;
                                    cursor: pointer;
                                }
                            
                        }
                    }
                }

                .dashboard__wrapper__profile__picture {
                    font-family: $paragraph-font;
                    background-color: $primary-color;
                    color: white;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 9999px;
                }

                .dashboard__wrapper__profile__info {
                    h2 {
                        color: $primary-paragraph-font-color;
                    }
                    h3 {
                        margin-top: 20px;
                        margin-bottom: 10px;
                        font-size: 1.2rem;
                        color: $primary-paragraph-font-color;
                    }
                    p {
                        font-size: 1.3rem;
                        color: $primary-paragraph-font-color;
                    }
                }
            }
    
        }
        .dashboard__wrapper_col_3 {

            @media screen and (max-width: 1089px) {
                grid-column: 2/3;
            }
            @media screen and (max-width: 720px) {
                grid-column: 1/2;
            }
        }
        .dashboard__wrapper__section {
            background-color: $secondary-background-color;
            padding: 20px;
            border-radius: 5px;
            height: 100%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            
          

            h2 {
                color: $primary-paragraph-font-color;
            }

            button {
                @include buttons($primary-color);
                width: 100%;
                color: white;
            }
        }

    }

}