@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
.dashboard .dashboard__wrapper {
  max-width: 1800px;
  margin: 100px auto;
  padding: 0 20px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 340px 340px;
  gap: 40px;
  margin-top: 50px;
}
@media screen and (max-width: 820px) {
  .dashboard .dashboard__wrapper {
    grid-template-columns: 300px 340px;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 720px) {
  .dashboard .dashboard__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
    padding: 0;
    max-width: 400px;
  }
}
.dashboard .dashboard__wrapper h2 {
  font-size: 2rem;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 {
  grid-row: 1/3;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile {
  background-color: white;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  gap: 20px;
  position: relative;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .menu {
  width: 8px;
  margin-top: 5px;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .menu:hover {
  cursor: pointer;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .menu ellipse {
  fill: #36454F;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .options {
  position: absolute;
  background-color: white;
  width: 150px;
  top: 40px;
  right: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #B6B6B6;
  z-index: 9999;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .options ul {
  list-style: none;
  font-family: "Rubik", sans-serif;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .options ul li a {
  display: block;
  padding: 10px;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .options ul li:hover {
  background-color: #080077;
  color: white;
  cursor: pointer;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .dashboard__wrapper__profile__picture {
  font-family: "Rubik", sans-serif;
  background-color: #080077;
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .dashboard__wrapper__profile__info h2 {
  color: #36454F;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .dashboard__wrapper__profile__info h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #36454F;
}
.dashboard .dashboard__wrapper .dashboard__wrapper_col_1 .dashboard__wrapper__profile .dashboard__wrapper__profile__info p {
  font-size: 1.3rem;
  color: #36454F;
}
@media screen and (max-width: 1089px) {
  .dashboard .dashboard__wrapper .dashboard__wrapper_col_3 {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 720px) {
  .dashboard .dashboard__wrapper .dashboard__wrapper_col_3 {
    grid-column: 1/2;
  }
}
.dashboard .dashboard__wrapper .dashboard__wrapper__section {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.dashboard .dashboard__wrapper .dashboard__wrapper__section .tradingInfoIcon {
  cursor: pointer;
  position: relative;
  z-index: 999;
}
.dashboard .dashboard__wrapper .dashboard__wrapper__section .listingInfo {
  position: absolute;
  background-color: rgb(215, 235, 255);
  padding: 20px;
  font-size: 1.3rem;
  z-index: 99;
  width: 200px;
  top: 55px;
  right: 67px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media screen and (max-width: 820px) {
  .dashboard .dashboard__wrapper .dashboard__wrapper__section .listingInfo {
    right: 67px;
  }
}
@media screen and (max-width: 720px) {
  .dashboard .dashboard__wrapper .dashboard__wrapper__section .listingInfo {
    right: 106px;
  }
}
.dashboard .dashboard__wrapper .dashboard__wrapper__section .listingInfo:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 125px;
  top: -30px;
  bottom: auto;
  border: 15px solid;
  transform: rotate(180deg);
  border-color: rgb(215, 235, 255) transparent transparent transparent;
}
.dashboard .dashboard__wrapper .dashboard__wrapper__section .tradingInfo {
  position: absolute;
  background-color: rgb(215, 235, 255);
  padding: 20px;
  font-size: 1.3rem;
  z-index: 99;
  width: 200px;
  top: 55px;
  right: 80px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media screen and (max-width: 820px) {
  .dashboard .dashboard__wrapper .dashboard__wrapper__section .tradingInfo {
    right: 80px;
  }
}
@media screen and (max-width: 720px) {
  .dashboard .dashboard__wrapper .dashboard__wrapper__section .tradingInfo {
    right: 120px;
  }
}
.dashboard .dashboard__wrapper .dashboard__wrapper__section .tradingInfo:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 125px;
  top: -30px;
  bottom: auto;
  border: 15px solid;
  transform: rotate(180deg);
  border-color: rgb(215, 235, 255) transparent transparent transparent;
}
.dashboard .dashboard__wrapper .dashboard__wrapper__section h2 {
  color: #36454F;
}
.dashboard .dashboard__wrapper .dashboard__wrapper__section .dashboard__update {
  padding: 15px;
  border: none;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #080077;
  width: 100%;
  color: white;
}/*# sourceMappingURL=dashboard.css.map */