@import '../variables/_variables';
@import '../variables/_mixins';
@import '../elements/navBar';

.header {
    background-color: white;
    border-bottom: 1px solid $border-color;

    
    .header__wrapper {
        @include wrapper;
       
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            display: flex;
            ul {

                li {

                    a {
                        
                        color: $primary-color; 
                        text-decoration: none;
                    }
                }
            }
        }

        .header__logo {
            font-family: $title-font;
            color: $primary-color;
            font-size: 1.6rem;
            font-weight: 600;
            a {
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
    
}
