@import '../variables/variables';
@import '../variables/mixins';

.login {

    .login__wrapper {
        @include wrapper;

        .login__wrapper__content {
            @include container;
            
            max-width: 400px;
            margin: 0 auto;
            margin-top: 50px;
            position: relative;

            
            h1 {
                margin-bottom: 10px;
                color: $title-color;
            }

            a {
                color: inherit;
            }

            .login__wrapper__content__login {
                font-size: 1.2rem;
                color: $secondary-background-color-font;
            }

            form {
                display: flex;
                flex-direction: column;

                .login__wrapper__content__eyeicon {
                    color: $border-color;
                    position: absolute;
                    transform: translateY(10px);
                    right: 44px;

                    @media screen and (max-width:$breakpoint-small) {
                        right: 44px;
                    }
                }

                label {
                    margin-top: 20px;

                    p {
                        font-size: 1.3rem;
                        color: $secondary-background-color-font
                    }

                    input {
                        @include input;
                        width: 100%;

                        
                    }
                }
                

                button {
                    @include buttons($button-color);
                    color: white; 
                }
            }

            .login__wrapper__content__resetpassword {
                
                color: $secondary-background-color-font;
                font-size: 1.2rem;
                margin-top: 20px;
                font-family: $paragraph-font;

            }
        }
    }
}
