@import '../variables/_variables';
@import '../variables/_mixins';


.privacy {
    @include wrapper;

    h1 {
        font-family: $title-font;
        color: $title-color;
        @include space;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 70px;
        color: $primary-paragraph-font-color;
    }
    p {
        font-family: $paragraph-font;
        color: $primary-paragraph-font-color;
        margin-top: 20px;
        padding-left: 30px;
    }
    .privacy__wrap {
        display: grid;
        grid-template-columns: minmax(400px, 820px) minmax(300px, 400px);
        gap: 136px;

        @media screen and (max-width:$breakpoint-medium) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
        }
        .privacy__wrap__tablecontent {
            
            @media screen and (max-width:$breakpoint-medium) {
                grid-row: 1/2;
            }

           .privacy__wrap__tablecontent__sticky {
                position: sticky;
                top: 30px;

                @media screen and (max-width:$breakpoint-medium) {
                    position: relative;
                }

                h3 {
                    margin-top: 120px;
                    color: $primary-paragraph-font-color;

                    @media screen and (max-width:$breakpoint-medium) {
                        margin-top: 10px;
                    }
                    
                }

                ul {
                    margin-top: 20px;
                    li {
                        list-style: none;
                        font-family: $paragraph-font;
                        padding-bottom: 10px;
                        
                        a {
                            color: $primary-paragraph-font-color;
                        }
                    }
                }
           }
        }
    }
}