@import '../variables/variables';
@import '../variables/mixins';

.signup {
    .signup__wrapper {
        @include wrapper;
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 50px;

        @media screen and (max-width:$breakpoint-medium) {
            flex-direction: column;
            align-items: center;
        }

        .signup__wrapper__description {
            max-width: 400px;

            h1 {
                color: $title-color;

                
            }
            p {
                padding-top: 20px;
                font-size: 1.2rem
            }
        }
       

        .signup__wrapper__form {
            @include container;
            max-width: 400px;
            min-width: 300px;
      
           

            

            form {
                @include forms;

                .login__wrapper__form__eyeicon {
                    color: $border-color;
                    position: absolute;
                    transform: translateY(10px);
                    right: 60px;
                }
                .signup__wrapper__form__details {
                    display: none ;
                    font-size: 1.1rem;
                    margin-top: 10px;

                    &.show_details {
                        display: block;
                    }
                    
                }
                h2 {
                    margin-bottom: 20px;
                    color: $primary-color;

                   
                }
                .second {
                    margin-top: 30px;
                }
                p {
                    color: $secondary-background-color-font;
                  
                }
                .business_type_container {
                    display: flex;
                    flex-direction: column;
                    
                    width: 100%;
                    margin-top: 20px;

                    .business_type {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        width: fit-content;
                        align-items: start;
                        
                        border: 1px solid $border-color;
                        border-radius: 5px;
                        padding: 15px;
                        input[type="radio"] {
                            width: fit-content;
                            
                            &:checked {
                                border: 3px solid $primary-color;
                            }
                        }
                        
                        h3 {
                            font-size: 1.3rem;
                            color: $secondary-background-color-font;
                        }
                        &.checked {
                            border: 1px solid green;
                        }                    
                    
                        
                    }
                }
                    

                .signup_button {
                    @include buttons($button-color);
                    color: white; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
            }

            .signup__wrapper__form__checkbox {
                display: grid;
                grid-template-columns: auto 1fr;
                font-family: $paragraph-font;
                align-items: center;
                gap: 10px;

                a {
                    color: inherit;
                }
                
                input {
                    height: 13px;
                    width: 13px;

                }

            }
        }
    }
}