@import '../variables/variables';
@import '../variables/mixins';

.signup {
    .signup__wrapper {
        @include wrapper;
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 50px;

        @media screen and (max-width:$breakpoint-medium) {
            flex-direction: column;
            align-items: center;
        }

        .signup__wrapper__description {
            max-width: 400px;

            h1 {
                color: $title-color;

                
            }
            p {
                padding-top: 20px;
                font-size: 1.2rem
            }
        }
       

        .signup__wrapper__form {
            @include container;
            max-width: 500px;
            min-width: 300px;
      
           

            

            form {
                @include forms;

                .login__wrapper__form__eyeicon {
                    color: $border-color;
                    position: absolute;
                    transform: translateY(10px);
                    right: 60px;
                }
                .signup__wrapper__form__details {
                    display: none ;
                    font-size: 1.1rem;
                    margin-top: 10px;

                    &.show_details {
                        display: block;
                    }
                    
                }
                p {
                    color: $secondary-background-color-font;
                  
                }
                .business_type_container {
                    display: flex;
                    gap: 30px;

                    .business_type {
                        display: flex;
                        flex-direction: row-reverse;
                        gap: 5px;
                        width: fit-content;
                        padding-top: 10px
                    }
                }
                    

                button {
                    @include buttons($button-color);
                    color: white; 
                }
            }

            .signup__wrapper__form__checkbox {
                display: flex;
                font-family: $paragraph-font;
                align-items: center;
                gap: 10px;

                a {
                    color: inherit;
                }
                
                input {
                    height: 13px;
                    width: 13px;

                }

            }
        }
    }
}