@import './variables/_variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $primary-color #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

html {
    font-size: 10px;
}

body {
    font-size: 16px;
    overflow-x: hidden;
    background-color: #F5F4F7;
    
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    // .App-header {
    //     position: sticky;
    //     top: 0;
    //     z-index: 9999;
    // }
}
main {
    flex: 1;
    
}
h1, h2, h3, h4 {
    font-family: $title-font;
}

h1 {
    font-size: 3rem;

    @media screen and (max-width: $breakpoint-medium) {
        
        font-size: 3rem;
        
    }
}

h2 {
    font-size: 2.5rem;
    @media screen and (max-width: $breakpoint-medium) {
        
        font-size: 2rem;
        
    }

}

p {
    font-family: $paragraph-font;
    line-height: 1.5;
    
}
.notifications {
    font-family: $paragraph-font;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .rnc__notification-item--success {
        background-color: white;
       
        border-left: 8px solid #1f8838;

        .rnc__notification-title {
            color: #1f8838;
        }
        .rnc__notification-message {
            color: #1f8838;
        }
    }

    .rnc__notification-item--warning {
        background-color: white;
       
        border-left: 8px solid #eab000;

        .rnc__notification-title {
            color: #eab000
        }
        .rnc__notification-message {
            color: #eab000
        }
    }

    .rnc__notification-item--danger {
        background-color: white;
       
        border-left: 8px solid #ea0000;

        .rnc__notification-title {
            color: #ea0000
        }
        .rnc__notification-message {
            color: #ea0000
        }
    }

    

    
      
}

