@import '../variables/_variables';
@import '../variables/_mixins';

.vehiclecard {
    border: 1px solid $border-color;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    height: fit-content;
    margin-top: 20px;
  
    .vehiclecard__edit_car {
        display: flex;
        flex-direction: column;

        @include forms;
        label {
            p {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
        input {
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &[type=number] {
                -moz-appearance: textfield;
            }
        }
        #vehiclecard__update {
            @include buttons($primary-color);
            color: white;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 7px;
            font-size: 1.3rem
        }
        .vehiclecard__cancel {
            @include buttons(rgb(255, 228, 228));
            margin-top: 5px;
            margin-bottom: 5px;
           font-size: 1.3rem;
            color: red;
            padding: 7px
        }
    }
    @media screen and (max-width: $breakpoint-small) {
        width: 100%;
    }

    .vehiclecard__title {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       h3 {
        font-family: $title-font;
        color: $primary-paragraph-font-color;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 235px;
        font-size: 1.6rem;
       }

       p {
        font-family: $title-font;
        color: $primary-paragraph-font-color;
        font-size: 1.2rem;
        padding-top: 0.5rem;
       }
       .vehiclecard__title__options {
            position: relative;
          
            .menu {
                width: 8px;
                ellipse {
                    fill: $primary-paragraph-font-color;
                }
            }

            .options {
                position: absolute;
                background-color: white;
                width: 150px;
                right: 0;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                border: 1px solid $border-color;
                z-index: 9999;
                ul {

                    list-style: none;
                    font-family: $paragraph-font;

                    li {

                        

                        &:hover {
                            background-color: $primary-color;
                            color: white;

                        }

                        a {
                            padding: 10px;
                            display: block;
                            width: 100%;
                        }
                        
                    }
                }
            }
       }
    }

    .vehiclecard__description {
        font-family: $paragraph-font;
        padding-top: 1rem;
        color: $primary-paragraph-font-color;
        line-height: 1.5;
        font-size: 1.4rem;
     
    }
}