@import './variables';

@mixin wrapper {
    max-width: 1800px;
    margin: 100px auto;
    padding: 0 20px;

    
}

@mixin input {
    border-radius: 5px;
    padding:10px;
    border: 1px solid $border-color;
    font-family: $paragraph-font;
    color: $primary-paragraph-font-color;

    &:focus {
        border: 1px solid $primary-color; 
        outline: none;
        transition: 0.5s;
    }

    &:required {

        &:valid {
            border: 1px solid green;
            background-color: rgb(250, 255, 250);
        }
    }

    &.valid {
        border: 1px solid green;
        background-color: rgb(246, 255, 246);
    }

    &.invalid {
        border: 1px solid red;
        background-color: rgb(255, 235, 235);
    }
}
@mixin buttons($backgroundColor) {
    padding: 15px;
    border: none;
    font-family: $button-font;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $backgroundColor;

   
}


@mixin shadow {
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -moz-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@mixin container {
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    border-bottom: 1px solid $border-color;
    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    
   
}

@mixin forms {
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: 20px;
        font-family: $paragraph-font;
        cursor: pointer;
        p {
            font-size: 1.3rem;
            color: $secondary-background-color-font;
            
        }
        
        
        input {
            @include input;
            width: 100%;

            
        }

        select {
            @include input;
            width: 100%;

            option {
                
                &:hover {
                    
                    color: $paragraph-font
                }
            }
        }

        textarea {
            @include input;
            width: 100%;
            resize: none;
        }
        
        
        
       
    }
}