 
// ===========================================
// VARIABLES TO BE USED IN THE APPLICATION 
// ===========================================



// Rubik Font import Regular 400, Medium 500, Bold 700
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


// 063846 old color
// Colors

$primary-color: #080077;
$accent-color: gold;
$secondary-color: #FF570A;
$title-color: $primary-color;
$primary-paragraph-font-color: #36454F;
$primary-background-color: #E5F7FF;
$secondary-background-color: #F3F3F3;
$secondary-background-color-font: #636363;
$border-color: #B6B6B6;
$button-color: $primary-color;

// Fonts
$title-font: 'Rubik', sans-serif;
$sub-title-font: 'Rubik', sans-serif;
$paragraph-font: 'Rubik', sans-serif;
$button-font: 'Rubik', sans-serif;



// Screen sizes
$breakpoint-small: 505px;
$breakpoint-medium: 820px;